{% extends "base.html" %}
{% block title %}Add Product{% endblock %}
{% block menu %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'add_product' %}">Add Product <span class="sr-only">(current)</span></a>
      </li>
     <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Category</a>
    <div class="dropdown-menu">
        {% for cat in category %}
      <a class="dropdown-item" href="{{ cat.0 }}">{{ cat.1 }}</a>
{% endfor %}
    </div>
  </li>
{% endblock %}
{% block content %}
   <h1>Add Product</h1>
   <form method="POST" action="{% url "add_product" %}">
       {% csrf_token %}
       {% include 'partial/product_form.html' with button_text='Add+' %}
   </form>
{% endblock %}