{% extends "base.html" %}
{% block menu %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'add_product' %}">Add Product <span class="sr-only">(current)</span></a>
      </li>
     <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Category</a>
    <div class="dropdown-menu">
        {% for cat in category %}
      <a class="dropdown-item" href="{{ cat.0 }}">{{ cat.1 }}</a>
{% endfor %}
    </div>
  </li>
{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
{% for product in products %}
    <div class="col-sm-3">
    <div class="card border-primary mb-3" style="max-width: 14rem; text-align: center">
  <div class="card-header"><h3>{{ cat.name }}</h3>
    {{ product.price }}<br/>Category: {{ product.get_category_display }}
       <p><a href="{% url 'product_view' product.pk %}">Details...</a></p>
       <p><a href="{% url 'product_update' product.pk %}">Edit</a></p>
       <p><a href="{% url 'product_delete' product.pk %}">Delete</a></p>
  </div>
  </div>
</div>
{% endfor %}
    </div>
    </div>
{% endblock %}