{% extends 'base.html' %}
{% block menu %}
   <li><a href="{% url 'add_product' %}">Add Product</a></li>
{% endblock %}
{% block content %}
   <h1>Products:</h1>
   <hr/>
   {% for product in products %}
       <h2>{{ product.name }}</h2>
       <div>{{ product.price }}<br/>Category: {{ product.get_category_display }}</div>
       <p><a href="{% url 'product_view' product.pk %}">Details...</a></p>
{#       <p><a href="{% url 'article_update' article.pk %}">Edit</a></p>#}
       <p><a href="{% url 'product_delete' product.pk %}">Delete</a></p>
       <hr/>
   {% endfor %}
{% endblock %}